POSTGRES_DB=erp_assistant
POSTGRES_USER=erp_assistant
POSTGRES_PASSWORD=replace-with-a-local-password
POSTGRES_PORT=5432

MINIO_ROOT_USER=erp_minio
MINIO_ROOT_PASSWORD=replace-with-a-local-password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
